/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */

$base00: #2d2d2d;
$base01: #393939;
$base02: #515151;
$base03: #747369;
$base04: #a09f93;
$base05: #d3d0c8;
$base06: #e8e6df;
$base07: #f2f0ec;
$base08: #f2777a;
$base09: #f99157;
$base0a: #ffcc66;
$base0b: #99cc99;
$base0c: #66cccc;
$base0d: #6699cc;
$base0e: #cc99cc;
$base0f: #d27b53;

.base00 { color: $base00; }
.base01 { color: $base01; }
.base02 { color: $base02; }
.base03 { color: $base03; }
.base04 { color: $base04; }
.base05 { color: $base05; }
.base06 { color: $base06; }
.base07 { color: $base07; }
.base08 { color: $base08; }
.base09 { color: $base09; }
.base0a { color: $base0a; }
.base0b { color: $base0b; }
.base0c { color: $base0c; }
.base0d { color: $base0d; }
.base0e { color: $base0e; }
.base0f { color: $base0f; }

$code_white:         #EEFFFF;
$code_gray:          #a1abe0;
$code_black:         #000000;
$code_red:           #ff757f;
$code_green:         #2df4c0;
$code_yellow:        #ffc777;
$code_paleblue:      #d6e7f0;
$code_cyan:          #b994f1;
$code_blue:          #04d1f9;
$code_purple:        #b4a4f4;
$code_orange:        #f67f81;
$code_pink:          #ecb2f0;

$code_bg:            #212337;
$code_bg_alt:        #0B0E1B;
$code_fg:            #e4f3fa;
$code_text:          #757dac;
$code_comments:      #7486d6;
$code_selection:     #403c64;
$code_contrast:      #1b1c2b;
$code_active:        #414863;
$code_border:        #414863;
$code_line_numbers:  #596399;
$code_highlight:     #a1abe0;
$code_disabled:      #515772;
$code_cursor:        #5cb4fc;
$code_accent:        #a3ace1;

$code_error:         #FF5370;
$code_link:          #80CBC4;

$code-color: $code_cyan;
$code-background: $code_bg;

$theme-color: $code_comments;
$global-body-width: 1000px;
$deputy-color: $code_bg;
$post-toc-backgroud: $code_bg;

$logo-font-family: "Lucida Console", "Courier New", monospace bold;
$global-serif-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

// For light mode
// $global-font-color: #393939;
// $global-background: #ffffff;

// For dark mode
$global-font-color: $code_paleblue;
$global-background: $code_bg_alt;

.content-wrapper {
  background: $global-background;
}

.theme-info {
  display: none;
}

.power-by {
  display: none;
}

.division {
  display: none;
}

.post-content {
  @for $i from 1 through 6 {
    h#{$i} {
      color: $theme-color;
    }
  }
}
